<!-- ეს წესით, როგორც ვხვდები აქ არ უნდა დამეწერა და ცალკე კომპონენტი უნდა შემექმნა, მაგრამ ცოტა არ იყოს გავიჭედე. ფრომას რომ ვქმნიდი მიწერდა, რომ ცალკე უნდა შემოეტანა ფორმისთვის მოდულები და მაგდენზე ჩაძიებას აჯერად მოვერიდე, შემდეგში აუცილებლად ცალკე გავიტან -->
<div class="form">
  <div>
    <label for="title">title</label>
    <input type="text" id="title" [(ngModel)]="title" />
    <label for="description">description</label>
    <input type="text" id="description" [(ngModel)]="desc" />
  </div>
  <div>
    <input type="file" id="upload" (change)="onFile($event)" /><label
      for="upload"
      class="label"
      >upload image</label
    >
  </div>
  <button (click)="onClick()">add item</button>
</div>
<div class="search">
  <input type="text" [(ngModel)]="search" /><button (click)="onSearch()">
    Search
  </button>
</div>

<div class="items">
  @if (search==='') { @for (item of itemsArray; track item.id) {
  <div>
    <img [src]="item.img" alt="" />
    <h3>{{ item.name }}</h3>
    <h4>Description: {{ item.description }}</h4>
  </div>
  } }@else {@for (item of newItems; track item.id) {
  <div>
    <img [src]="item.img" alt="" />
    <h3>{{ item.name }}</h3>
    <h4>Description: {{ item.description }}</h4>
  </div>
  } }
</div>
